<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
	<handlers>
		<add name="PythonHandler" 
		path="*" 
		verb="*" 
		modules="FastCgiModule"
		scriptProcessor="c:\users\stirbuv\appdata\local\programs\python\python37-32\python.exe|c:\users\stirbuv\appdata\local\programs\python\python37-32\lib\site-packages\wfastcgi.py"
		resourceType="Unspecified"
		requireAccess="Script"/>
	</handlers>
  </system.webServer>
  <appSettings>
	<add key="PYTHONPATH" value="C:\inetpub\wwwroot\wss\VirtualDirectories\ProjectName"/>
	<!-- The handler here is specific to Bottle; see the next section. -->
	<add key="WSGI_HANDLER" value="app.app"/>
	</appSettings>
</configuration>